html {
    --micro-color-primary: #4d8dd9;
    --micro-color-primary-shade: #225ca0;
    --micro-color-secondary: #d94b1f;
    --micro-color-mono-shade: #616161;
}

input,
textarea {
    border-radius: 0;
}
