html {
    --micro-color-text-title: #223144;
    --micro-color-primary: #4d8dd9;
    --micro-color-primary-shade: #225ca0;
    --micro-color-primary-tint: #8fb7e7;
    --micro-color-secondary: #d94b1f;
    --micro-color-mono-shade: #616161;
}

.listling-detail {
    color: var(--micro-color-text-subtle);
    font-size: 0.875em;
    text-align: right;
}

/** Card: Distinct unit of related content. */

.micro-card {
    margin: var(--micro-size-s) 0;
}
