[master]
load-plugins=pylint.extensions.docstyle

[messages control]
disable=
    # Good design is best figured out by humans (yet)
    design,
    too-many-lines,
    too-many-nested-blocks,
    # Fails for Generic (see https://github.com/PyCQA/pylint/issues/2717)
    duplicate-bases,
    # Arguments should not be manipulated anyway
    dangerous-default-value,
    # There are built-ins with common names like id
    redefined-builtin,
    # Handled by mypy
    iterable_check,
    typecheck

[reports]
output-format=colorized

[basic]
# Remove length constraint, short and long names have their use
function-rgx=[a-z_][a-z0-9_]*$
variable-rgx=%(function-rgx)s
attr-rgx=%(function-rgx)s
argument-rgx=%(function-rgx)s
class-rgx=[A-Z_][a-zA-Z0-9]*$
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]*|(__.*__))$
method-rgx=%(function-rgx)s

[format]
# Long URLs and strings may be more readable
ignore-long-lines=://|'.+'|".+"

[classes]
# Add initialize, it is used by Tornado
defining-attr-methods=__init__,__new__,setUp,initialize
