<template id="listling-start-page-template">
    <section>
        <h1>Your lists</h1>

        <div class="listling-start-lists micro-entity-list">
            <ul data-content="list lists.items 'lst'">
                <template>
                    <li
                        class="micro-panel micro-quick-nav" tabindex="0"
                        data-onkeydown="onListKeyDown" data-shortcut-context="new ShortcutContext"
                    >
                        <a class="link micro-panel-main" data-href="makeListURL lst">
                            <span data-content="lst.title"></span>
                            <small>
                                <span
                                    data-content="formatPlural '{n} item' '{n} items' 'n' lst.items.count"
                                ></span>
                                <span data-content="switch lst.owners.user_owner">
                                    <template>· <i class="fa fa-user-cog"></i> Owner</template>
                                </span>
                            </small>
                        </a>
                        <div data-content="switch lst.owners.user_owner">
                            <template></template>
                            <template>
                                <button class="link"><i class="fa fa-bars"></i></button>
                                <micro-contextual>
                                    <button
                                        type="button" class="action"
                                        data-action="new Action remove lst"
                                        data-shortcut="new Shortcut 'T'"
                                    >
                                        <i class="fa fa-fw fa-minus-circle"></i> Remove from your
                                        lists
                                    </button>
                                </micro-contextual>
                            </template>
                        </div>
                    </li>
                </template>
            </ul>
            <ul>
                <li data-content="switch listsComplete false">
                    <template>
                        <button
                            type="button" class="link micro-quick-nav"
                            data-action="new Action fetchCollection lists"
                            data-shortcut="new Shortcut 'M'"
                        >
                            <i class="fa fa-fw fa-ellipsis-v"></i> More
                        </button>
                    </template>
                </li>
                <li class="listling-start-create">
                    <div>
                        <button
                            type="button" class="action micro-highlight"
                            data-action="new Action startCreateList"
                            data-shortcut="new Shortcut 'A'"
                        >
                            <i class="fa fa-fw fa-plus-circle"></i> Create new list
                        </button>
                        <micro-contextual class="micro-entity-list">
                            <ul data-content="list useCases 'useCase'">
                                <template>
                                    <li>
                                        <p
                                            class="micro-contextual-deactivate" tabindex="0"
                                            data-onclick="bind createList useCase.id"
                                            data-onkeydown="onUseCaseKeyDown"
                                        >
                                            <i
                                                data-class-name="format 'fa fa-fw fa-{icon}' 'icon' useCase.icon"
                                            ></i>
                                            <span data-content="useCase.title"></span>
                                        </p>
                                    </li>
                                </template>
                            </ul>
                        </micro-contextual>
                    </div>
                </li>
            </ul>
        </div>

        <a class="link micro-small" href="/intro" data-shortcut="new Shortcut 'E'">
            <small>Need inspiration?</small>
            <i class="fa fa-book"></i> View examples
        </a>
    </section>
</template>

<style>
    .listling-start-create div {
        width: max-content;
    }

    .listling-start-create micro-contextual {
        right: auto;
        margin-bottom: var(--micro-size-s);
    }
</style>
