<template id="listling-start-page-template">
    <section>
        <h1>Your lists</h1>

        <div class="listling-start-lists micro-entity-list">
            <ul data-content="list lists.items 'lst'">
                <template>
                    <li
                        class="micro-panel micro-quick-nav" tabindex="0"
                        data-onkeydown="onListKeyDown" data-shortcut-context="new ShortcutContext"
                    >
                        <a class="link micro-panel-main" data-href="makeListURL lst">
                            <span data-content="lst.title"></span>
                            <small>
                                <span
                                    data-content="formatPlural '{n} item' '{n} items' 'n' lst.items.count"
                                ></span>
                                <span data-content="switch lst.authors.0.id user.id">
                                    <template>· <i class="fa fa-user-cog"></i> Owner</template>
                                </span>
                            </small>
                        </a>
                        <ul
                            is="micro-menu" class="micro-secondary"
                            data-content="switch lst.authors.0.id user.id"
                        >
                            <template></template>
                            <template>
                                <li>
                                    <button class="link"><i class="fa fa-fw fa-bars"></i></button>
                                    <ul is="micro-menu">
                                        <li class="micro-panel">
                                            <button
                                                is="micro-button" class="action"
                                                data-run="bind remove lst"
                                                data-shortcut="new Shortcut 'T'"
                                            >
                                                <i class="fa fa-fw fa-minus-circle"></i> Remove from
                                                your lists
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </template>
                        </ul>
                    </li>
                </template>
            </ul>
            <ul>
                <li class="micro-panel" data-content="switch listsComplete false">
                    <template>
                        <button
                            is="micro-button" class="link micro-panel-main micro-quick-nav"
                            data-run="bind fetchCollection lists" data-shortcut="new Shortcut 'M'"
                        >
                            <i class="fa fa-fw fa-ellipsis-v"></i> More
                        </button>
                    </template>
                </li>
                <li class="micro-panel">
                    <ul is="micro-menu" class="listling-start-create">
                        <li>
                            <button
                                is="micro-button" class="action micro-highlight"
                                data-run="startCreateList" data-shortcut="new Shortcut 'A'"
                            >
                                <i class="fa fa-fw fa-plus-circle"></i> Create new list
                            </button>
                            <ul is="micro-menu" data-content="list useCases 'useCase'">
                                <template>
                                    <li>
                                        <p
                                            tabindex="0" data-onclick="bind createList useCase.id"
                                            data-onkeydown="onUseCaseKeyDown"
                                        >
                                            <i
                                                data-class-name="format 'fa fa-fw fa-{icon}' 'icon' useCase.icon"
                                            ></i>
                                            <span data-content="useCase.title"></span>
                                        </p>
                                    </li>
                                </template>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <a class="link micro-small" href="/intro" data-shortcut="new Shortcut 'E'">
            <small>Need inspiration?</small>
            <i class="fa fa-book"></i> View examples
        </a>
    </section>
</template>

<style>
    .listling-start-create > li {
        flex: auto;
    }

    .listling-start-create [is=micro-menu] {
        right: auto;
        bottom: 100%;
        cursor: pointer;
    }
</style>
