/* ---- Color scheme ----
 *
 * - text inverse: #fff
 */

html {
    --micro-color-text: #333;
    --micro-color-text-subtle: #888;
    --micro-color-text-title: #19354d; /* Hue: primary, saturation: primary 50% */
    --micro-color-delimiter: #ddd;
    --micro-color-border: #bbb;
    --micro-color-primary: #08f;
    --micro-color-primary-shade: #005aa8; /* Lightness: primary 66% */
    --micro-color-primary-tint: #77c0ff; /* Lightness: border */
    --micro-color-secondary: #f80;
    --micro-color-mono-shade: #545454; /* Lightness: primary-shade */
    --micro-size-m: 1.5em;
    --micro-size-s: 0.75em;
    --micro-size-xs: 0.375em;
    --micro-size-xxs: 0.1875em;
    --micro-size-rm: 1.5rem;
    --micro-size-rs: 0.75rem;
    --micro-size-rxs: 0.375rem;
    --micro-size-rxxs: 0.1875rem;
    --micro-shadow: 0 0 2px rgba(0, 0, 0, 0.33);
    --micro-focus-shadow: inset 0 0 0 1px var(--micro-color-primary-tint);
}

/* ---- General ---- */

* {
    box-sizing: border-box;
}

:focus {
    outline: none;
    box-shadow: var(--micro-focus-shadow);
}

html {
    color: var(--micro-color-text);
    background: white;
    font: medium / 1.5 "Open Sans";
    overflow: hidden scroll;
    overflow-wrap: break-word;
    scroll-padding: calc(2 * var(--micro-size-rm) + 2 * var(--micro-size-rxs)) 0;
}

body {
    margin: 0;
}

h1,
p,
ul,
ol,
dl,
table,
pre {
    margin: 1.5rem 0;
    font-weight: normal;
}

h1 {
    border-bottom: 1px solid var(--micro-color-delimiter);
    font-size: 2rem;
    color: var(--micro-color-text-title);
}

section h1 { font-size: 1.66rem; }
section section h1 { font-size: 1.33rem; }

li h1 {
    border-bottom: none;
}

ul,
ol {
    padding-left: 1.5em;
}

dl {
    display: grid;
    grid: auto-flow / max-content 1fr;
    column-gap: var(--micro-size-xs);
}

dt {
    align-self: center;
    color: var(--micro-color-text-subtle);
}

dd {
    margin: 0;
}

table {
    border-collapse: collapse;
}

table td {
    padding: var(--micro-size-xs);
    border: 1px solid var(--micro-color-delimiter);
    vertical-align: baseline;
}

table thead td {
    font-weight: bold;
}

pre {
    /* Prevent browsers from manipulating the font size if the font family equals "monospace" */
    font: 0.875em / 1.5 monospace, monospace;
    white-space: pre-wrap;
}

i {
    color: var(--micro-color-text-subtle);
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.micro-small, small {
    font-size: 0.875em;
    color: var(--micro-color-text-subtle);
}

.micro-small h1,
.micro-small p,
.micro-small ul,
.micro-small ol,
.micro-small pre {
    margin: calc(0.875 * 1.5rem) 0;
}

.group {
    display: flex;
}

.group > * {
    margin: 0;
}

.group > *:nth-child(n+2) {
    margin-left: calc(0.25 * 1.5rem);
}

.compact h1,
.compact p,
.compact ul,
.compact ol,
.compact pre {
    margin: calc(0.25 * 1.5rem) 0;
}

.templates {
    display: none;
}

.micro-multiline {
    white-space: pre-line;
}

.micro-lgroup {
    margin: var(--micro-size-rm) 0;
}

.micro-lgroup > ul,
.micro-lgroup > ol {
    margin: 0;
    list-style: none;
}

.micro-icon-title {
    border-bottom: none;
    font-size: 3rem;
}

.micro-progress i {
    color: var(--micro-color-primary);
}

aside {
    margin: var(--micro-size-rm) 0;
    font-size: 0.875em;
    color: var(--micro-color-text-subtle);
}

/* ---- Focus hints ---- */

[title] {
    position: relative;
}

[title]::before {
    content: attr(title);
    display: none;
    position: absolute;
    top: 50%;
    left: calc(100% + 1.5rem / 4);
    z-index: 1;
    padding: calc(1.5em / 4);
    border-radius: calc(1.5em / 8);
    transform: translateY(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.66);
    line-height: 1;
    white-space: nowrap;
}

[title]:not(.micro-activated):focus::before {
    display: block;
}

/* ---- Links ---- */

.link {
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    color: var(--micro-color-secondary);
    background: none;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
}

.link:hover,
.link:focus {
    text-decoration: underline;
}

.link:disabled {
    cursor: default;
}

.link i {
    color: inherit;
}

/* ---- Actions ---- */

.action {
    display: inline-block;
    margin: 0;
    padding: calc(0.25 * 1.5em);
    border: none;
    border-bottom: 2px solid var(--micro-color-primary-shade);
    border-radius: calc(0.25 * 1.5em);
    color: #fff;
    background: var(--micro-color-primary);
    font: inherit;
    line-height: 1;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.action:focus {
    box-shadow: inset 0 0 0 1px var(--micro-color-primary), inset 0 0 0 2px white;
}

.action:disabled {
    cursor: default;
}

.action i {
    color: inherit;
}

.action-subtle {
    display: inline;
    padding: 0;
    border: none;
    border-radius: 0;
    color: var(--micro-color-primary);
    background: none;
    line-height: 1.5;
}

.action-subtle:hover,
.action-subtle:focus {
    text-decoration: underline;
}

.action-subtle:focus {
    box-shadow: var(--micro-focus-shadow);
}

/* ---- Forms ---- */

input,
textarea,
select {
    margin: 0;
}

input:not([type=checkbox]),
textarea,
select {
    display: block;
    width: 100%;
    padding: calc(1.5rem / 4);
    border: 1px solid var(--micro-color-border);
    border-radius: 0;
    font: inherit;
}

input:invalid:not(:focus),
textarea:invalid:not(:focus),
select:invalid:not(:focus) {
    box-shadow: none;
}

input[type=checkbox]:focus {
    outline: 1px solid var(--micro-color-primary-tint);
    box-shadow: none;
}

textarea {
    height: calc(5 * 1.5em + 2 * 0.25 * 1.5em);
}

.micro-input-wrapper {
    border: 1px solid var(--micro-color-border);
}

.micro-input-wrapper input:not([type=checkbox]),
.micro-input-wrapper textarea,
.micro-input-wrapper select {
    border: none;
}

label {
    display: block;
}

h1 > label {
    margin-bottom: calc(1.5rem / 4);
}

label > small {
    display: block;
    font-size: 0.875em;
}

label > small:first-of-type {
    color: inherit;
}

form > label {
    margin: 1.5rem 0;
}

.compact form > label {
    margin: calc(0.25 * 1.5rem) 0;
}

fieldset {
    padding: 0;
    border: none;
    margin: 1.5rem 0;
}

legend {
    padding: 0;
}

/**
 * Panel: Arrangement of controls and text content.
 *
 * Designed to be placed in a bordered container that signals interactivity, e.g. a bar.
 */

.micro-panel {
    display: flex;
    align-items: flex-start;
}

.micro-panel > *,
.micro-panel > div > * {
    margin: 0;
}

.micro-panel > h1,
.micro-panel > p,
.micro-panel > .link,
.micro-panel > div > p,
.micro-panel > div > .link {
    padding: var(--micro-size-xs);
}

.micro-panel > p > small,
.micro-panel > .link > small,
.micro-panel > div > p > small,
.micro-panel > div > .link > small {
    display: block;
    margin-top: var(--micro-size-rxs);
}

.micro-panel > h1,
.micro-panel > .link > h1 {
    border-bottom: none;
    margin: 0;
    font-size: 1em;
}

.micro-panel > input,
.micro-panel > div > input {
    border: none;
}

.micro-panel > .link:focus,
.micro-panel > .link:not(:disabled):hover,
.micro-panel > .action:focus,
.micro-panel > .action:not(:disabled):hover,
.micro-panel > [tabindex]:focus,
.micro-panel > [tabindex]:not(:disabled):hover,
.micro-panel > div > .link:focus,
.micro-panel > div > .link:not(:disabled):hover,
.micro-panel > div > .action:focus,
.micro-panel > div > .action:not(:disabled):hover,
.micro-panel > div > [tabindex]:focus,
.micro-panel > div > [tabindex]:not(:disabled):hover {
    background: var(--micro-color-delimiter);
    text-decoration: none;
}

.micro-panel > .link:focus,
.micro-panel > .action:focus,
.micro-panel > [tabindex]:focus,
.micro-panel > div > .link:focus,
.micro-panel > div > .action:focus,
.micro-panel > div > [tabindex]:focus {
    box-shadow: var(--micro-focus-shadow);
}

.micro-panel > .link,
.micro-panel > .action,
.micro-panel > div > .link,
.micro-panel > div > .action {
    display: block;
    padding: var(--micro-size-xs);
    border: none;
    border-radius: 0;
    background: transparent;
    line-height: inherit;
    text-align: left;
}

.micro-panel > .link,
.micro-panel > div > .link {
    color: var(--micro-color-text);
}

.micro-panel > .link i,
.micro-panel > div > .link i {
    color: var(--micro-color-text-subtle);
}

.micro-panel > .action,
.micro-panel > div > .action {
    color: var(--micro-color-primary);
}

.micro-panel-main,
.micro-panel > :only-child {
    flex: auto;
    min-width: 0;
}

/* ---- Entity list ---- */

.micro-entity-list {
    margin: var(--micro-size-rm) 0;
}

.micro-entity-list > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.micro-entity-list > ul:not(:empty) ~ ul:not(:empty),
.micro-entity-list > ul > li:not(:empty) ~ li:not(:empty) {
    border-top: 1px solid var(--micro-color-delimiter);
}

/* ---- Heading ---- */

.micro-heading {
    border-bottom: 1px solid var(--micro-color-delimiter);
    margin: var(--micro-size-rm) 0;
    align-items: flex-end;
}

.micro-heading > h1 {
    flex: auto;
    min-width: 0;
    padding: 0;
    font-size: 2rem;
}

section .micro-heading > h1 {
    font-size: 1.66rem;
}

section section .micro-heading > h1 {
    font-size: 1.33rem;
}

/* ---- Logo ---- */

.micro-logo {
    border-bottom: none;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.micro-logo .link {
    color: inherit;
}

.micro-logo img {
    height: 2em;
    vertical-align: text-bottom;
}

/* ---- Timeline ---- */

.micro-timeline {
    padding-left: 1.5rem;
    list-style: none;
}

.micro-timeline > li {
    position: relative;
}

.micro-timeline > li::before {
    content: '';
    position: absolute;
    left: calc(-1.5rem / 2);
    top: 0;
    bottom: 0;
    border-left: 1px solid #ddd;
}

.micro-timeline > li:first-child::before {
    top: 50%;
}

.micro-timeline > li:last-child::before {
    bottom: 50%;
}

.micro-timeline > li::after {
    content: '';
    position: absolute;
    left: calc(-1.5rem / 2 - 1.5rem / 8);
    top: calc(50% - 1.5rem / 8);
    width: calc(1.5rem / 4);
    height: calc(1.5rem / 4);
    border-radius: calc(1.5rem / 8);
    background: #ddd;
}

.micro-timeline > li > time {
    display: inline-block;
    margin-right: 1ch;
    font-size: 0.875em;
    color: #888;
}

/* ---- Menu ---- */

[is=micro-menu] {
    display: flex;
    padding: 0;
    list-style: none;
}

[is=micro-menu] > li {
    position: relative;
}

[is=micro-menu] li .link,
[is=micro-menu] li .action {
    display: block;
    /* Computed line height between adjacent items may not match exactly */
    height: 100%;
    padding: calc(1.5em / 4);
    border-radius: 0;
    line-height: 1;
}

[is=micro-menu] li:first-child .link,
[is=micro-menu] li:first-child .action {
    border-top-left-radius: calc(1.5em / 4);
    border-bottom-left-radius: calc(1.5em / 4);
}

[is=micro-menu] li:last-child .link,
[is=micro-menu] li:last-child .action {
    border-top-right-radius: calc(1.5em / 4);
    border-bottom-right-radius: calc(1.5em / 4);
}

[is=micro-menu] li.micro-menu-expanded:last-child .link {
    border-bottom-right-radius: 0;
}

[is=micro-menu] li .link {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 2px solid var(--micro-color-mono-shade);
    color: inherit;
    background: white;
}

[is=micro-menu] li:first-child .link {
    border-left: 1px solid var(--micro-color-delimiter);
}

[is=micro-menu] li .link:hover,
[is=micro-menu] li .link:focus,
[is=micro-menu] li.micro-menu-expanded .link {
    background: var(--micro-color-delimiter);
    text-decoration: none;
}

[is=micro-menu] li .link i {
    color: var(--micro-color-text-subtle);
}

[is=micro-menu] li .action {
    border-top: 1px solid var(--micro-color-primary);
}

[is=micro-menu] li:not(:first-child) .action {
    border-left: 1px solid var(--micro-color-primary-shade);
}

[is=micro-menu].micro-secondary > li > .link,
[is=micro-menu].micro-secondary > li > .action {
    padding: calc(1.5em / 4);
    border: none;
    border-radius: 0;
    line-height: 1.5;
    background: transparent;
}

[is=micro-menu].micro-secondary > li > .link:hover,
[is=micro-menu].micro-secondary > li > .link:focus,
[is=micro-menu].micro-secondary > li.micro-menu-expanded > .link,
[is=micro-menu].micro-secondary > li > .action:hover,
[is=micro-menu].micro-secondary > li > .action:focus,
[is=micro-menu].micro-secondary > li.micro-menu-expanded > .action {
    background: var(--micro-color-delimiter);
}

[is=micro-menu].micro-secondary > li > .action {
    color: var(--micro-color-primary);
}

[is=micro-menu].micro-secondary > li > .action:focus {
    box-shadow: var(--micro-focus-shadow);
}

[is=micro-menu] [is=micro-menu] {
    flex-flow: column;
    position: absolute;
    z-index: 1;
    right: 0;
    margin: -2px 0 0 0;
    box-shadow: var(--micro-shadow);
    background: white;
    white-space: nowrap;
}

[is=micro-menu].micro-secondary [is=micro-menu] {
    margin: 0;
}

[is=micro-menu] li:not(.micro-menu-expanded) [is=micro-menu] {
    height: 0;
    overflow: hidden;
}

[is=micro-menu] [is=micro-menu] > li:not(:first-child) {
    border-top: 1px solid #ddd;
}

[is=micro-menu] [is=micro-menu] li .link,
[is=micro-menu] [is=micro-menu] li .action {
    width: 100%;
    border: none;
    border-radius: 0;
    line-height: 1.5;
    background: transparent;
}

[is=micro-menu] [is=micro-menu] li:hover,
[is=micro-menu] [is=micro-menu] li:focus,
[is=micro-menu] [is=micro-menu] li .link:hover,
[is=micro-menu] [is=micro-menu] li .link:focus,
[is=micro-menu] [is=micro-menu] li .action:hover,
[is=micro-menu] [is=micro-menu] li .action:focus {
    background: var(--micro-color-delimiter);
}

[is=micro-menu] [is=micro-menu] li .action {
    color: var(--micro-color-primary);
}

[is=micro-menu] [is=micro-menu] li .action:focus {
    box-shadow: var(--micro-focus-shadow);
}

/* ---- UserElement ---- */

.micro-user {
    display: inline-block;
    vertical-align: bottom;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ---- UI ---- */

.micro-ui-dragging {
    cursor: move;
}

.micro-ui-inside {
    box-sizing: content-box;
    max-width: 70ch;
    padding: 0 var(--micro-size-rm);
    margin: 0 auto;
}

.micro-ui-header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    box-shadow: var(--micro-shadow);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.33);
    background: #fff;
}

.micro-ui-header nav {
    display: flex;
    white-space: nowrap;
}

.micro-panel > .micro-ui-logo {
    padding-left: 1px;
}

.micro-ui-beta {
    color: #888;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.micro-ui-header-fill {
    flex: auto;
}

.micro-ui-menu {
    margin: 0;
}

body:not(.micro-ui-settings-have-feedback-url) .micro-ui-feedback {
    display: none;
}

body:not(.micro-ui-user-is-staff) .micro-ui-activity {
    display: none;
}

main {
    padding-top: calc(1.5 * 1.5rem);
}

.micro-ui-progress {
    margin: calc(3 * 1.5rem) 0;
    font-size: 3rem;
    text-align: center;
}

.micro-ui-progress i {
    color: var(--micro-color-primary);
}

/* ---- ErrorNotification ---- */

.micro-error-notification i {
    color: red;
}

/* ---- OL ---- */

.micro-ol-handle {
    cursor: move;
}

/* ---- BootPage ---- */

.micro-boot-page {
    text-align: center;
}

.micro-boot-page i {
    color: red;
}

.micro-boot-page-detail {
    margin-top: calc(3 * 1.5rem);
    text-align: left;
}

/* ---- NotFoundPage ---- */

micro-not-found-page {
    text-align: center;
}

/* ---- ForbiddenPage ---- */

micro-forbidden-page {
    text-align: center;
}

/* ---- EditUserPage ---- */

micro-edit-user-page:not(.micro-edit-user-has-email) .micro-edit-user-remove-email {
    display: none;
}

.micro-edit-user-has-email .micro-edit-user-set-email-1 {
    display: none;
}

.micro-edit-user-set-email-2 {
    display: none;
}

.micro-edit-user-set-email-2 h1 {
    border-bottom: none;
    font-size: 1rem;
}

micro-edit-user-page:not(.micro-edit-user-has-email) .micro-edit-user-email-value {
    display: none;
}

/* ---- ActivityPage ---- */

micro-activity-page > ul {
    list-style: none;
}

.micro-activity-all .micro-activity-show-more {
    display: none;
}
